.actionButton {
	height: 18px;	
	border: 0;
}

div.menuBox {
	padding-bottom: 0px;
}

div.contentBox {
	padding-top: 0px;
	padding-bottom: 10px;
	padding-right: 50px;
	padding-left: 50x;
}

div.footerBox {
	text-align: center;
}

a {
	text-decoration: none;
	color: #069;
}

a:hover {
	color: red;
}

/* Begin Navigation Bar Styling */
#nav {
	width: 100%;
	float: left;
	margin: 0 0 3em 0;
	padding: 0; padding-top; 10;
	list-style: none;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
}

#nav li {
	float: left;
}

#nav li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #069;
	border-right: 1px solid #ccc;
}

#nav li a:hover {
	color: #c00;
	background-color: #fff;
}

/* button styling */
input[type="submit"] {
	background-color: #d7e5f5;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d7e5f5),
		color-stop(100%, #cbe0f5));
	background-image: -webkit-linear-gradient(top, #d7e5f5, #cbe0f5);
	background-image: -moz-linear-gradient(top, #d7e5f5, #cbe0f5);
	background-image: -ms-linear-gradient(top, #d7e5f5, #cbe0f5);
	background-image: -o-linear-gradient(top, #d7e5f5, #cbe0f5);
	background-image: linear-gradient(top, #d7e5f5, #cbe0f5);
	border-top: 1px solid #abbbcc;
	border-left: 1px solid #a7b6c7;
	border-bottom: 1px solid #a1afbf;
	border-right: 1px solid #a7b6c7;
	border-radius: 12px;
	-webkit-box-shadow: inset 0 1px 0 0 white;
	box-shadow: inset 0 1px 0 0 white;
	color: #1a3e66;
	font: normal 11px/1 "Lucida Grande", "Lucida Sans Unicode",
		"Lucida Sans", Geneva, Verdana, sans-serif;
	padding: 6px 0 7px 0;
	text-align: center;
	text-shadow: 0 1px 1px #fff;
	width: 150px;
}

input[type="submit"]:hover {
	background-color: #ccd9e8;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ccd9e8),
		color-stop(100%, #c1d4e8));
	background-image: -webkit-linear-gradient(top, #ccd9e8, #c1d4e8);
	background-image: -moz-linear-gradient(top, #ccd9e8, #c1d4e8);
	background-image: -ms-linear-gradient(top, #ccd9e8, #c1d4e8);
	background-image: -o-linear-gradient(top, #ccd9e8, #c1d4e8);
	background-image: linear-gradient(top, #ccd9e8, #c1d4e8);
	border-top: 1px solid #a1afbf;
	border-left: 1px solid #9caaba;
	border-bottom: 1px solid #96a3b3;
	border-right: 1px solid #9caaba;
	-webkit-box-shadow: inset 0 1px 0 0 #f2f2f2;
	box-shadow: inset 0 1px 0 0 #f2f2f2;
	color: #163659;
	cursor: pointer;
}

input[type="submit"]:active {
	border: 1px solid #8c98a7;
	-webkit-box-shadow: inset 0 0 4px 2px #abbccf, 0 0 1px 0 #eeeeee;
	box-shadow: inset 0 0 4px 2px #abbccf, 0 0 1px 0 #eeeeee;
}